Click==7.1.2
Jinja2==2.11.2
livereload==2.6.3
Markdown==3.3.3
MarkupSafe==1.1.1
mkdocs==1.1.2
mkdocs-ivory==0.4.6
mkdocs-material==4.0.2
mkdocs-windmill==1.0.4
Pygments==2.7.3
pymdown-extensions==8.1
PyYAML==5.3.1
six==1.15.0
tornado==6.1
